<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="codOrder">Pedido registrado!</ion-title>
    <ion-title *ngIf="!codOrder">Confira seu pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content padding>

    <ng-container *ngIf="!codOrder">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Itens do pedido</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-list>
            <ion-item *ngFor="let item of cartItems">
              <ion-thumbnail slot="start">
                <img [src]="item.product.imageUrl || 'assets/imgs/prod.jpg'">
              </ion-thumbnail>
              <ion-label>
                <h2>{{item.product.name}}</h2>
                <p>{{item.product.value | currency}}</p>
                <p>{{item.amount}}</p>
              </ion-label>
              <ion-label slot="end" style="text-align: right">
                <p>{{item.product.value * item.amount | currency}}</p>
              </ion-label>

            </ion-item>

            <ion-item lines="none">
              <ion-label>
                <h2>Total</h2>
              </ion-label>
              <ion-label slot="end" style="text-align: right">
                <h2>{{ total() | currency}}</h2>
              </ion-label>
            </ion-item>
          </ion-list>

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Cliente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h2>{{client?.name}}</h2>
          <p>{{client?.email}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Endereço de entrega</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h3>{{ address?.name }}, {{ address?.number }}</h3>
          <p>{{ address?.complement }} {{ address?.district }} zipCode {{ address?.zipCode }}</p>
          <p>{{ address?.city.name }}, {{ address?.city.state.name }}</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Pagamento</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="order.payment['@type']=='paymentCreditCard'">
          <h3>Pagamento com cartão</h3>
          <p>Parcelas: {{order.payment.numberInstallments}}</p>
        </ion-card-content>
        <ion-card-content *ngIf="order.payment['@type']=='paymentBankSlip'">
          <h3>Pagamento com boleto</h3>
        </ion-card-content>
      </ion-card>

      <ion-button expand="block" (click)="checkout()">Confirmar Pedido</ion-button>
      <ion-button expand="block" fill="outline" (click)="back()">Voltar</ion-button>
    </ng-container>


    <ng-container *ngIf="codOrder">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Seu pedido foi registrado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h3>Código do pedido: {{ codOrder }}</h3>
          <p>Verifique seu email</p>
        </ion-card-content>
      </ion-card>

      <ion-button expand="block" fill="outline" (click)="home()">Voltar</ion-button>
    </ng-container>

  </ion-content>
