<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>product-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button [routerLink]="'/cart'" size="small">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <img [src]="item?.imageUrl || 'assets/img/prod.jpg'">
    <ion-card-header>
      <ion-card-title>{{ item?.name }}</ion-card-title>
      <ion-card-subtitle>{{ item?.value | currency}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>

  <ion-button color="primary" expand="block" (click)="addToCart(item)">Adicionar ao carrinho</ion-button>
</ion-content>
