<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Sistema de pedidos</h3>
  <img src="assets/img/home-screen.png" alt="logo">

  <form action="">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button color="primary" expand="block">Entrar</ion-button>
  </form>

  <ion-button color="primary" expand="block" fill="outline">Registrar</ion-button>

</ion-content>
